body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgba(107, 107, 107);
    font-weight: 400;
    font-family: 'Inter', 'sans-serif';
    background-color: #fff;
    scroll-behavior: smooth;
}

$primary1: #5438C5;
$primary2: #7058D0;
$primary3: #8D7AD9;
$primary4: #A99BE3;
$primary5: #C6BCEC;
$primary6: #E2DEF6;
$secondary1: #91F6D8;
$secondary2: #A1F8DD;
$secondary3: #B0F9E3;
$secondary4: #C0FAE9;
$secondary5: #D0FBEE;
$secondary6: #E0FDF4;
$secondary: #FFFFFF;
$natural: #272727;
$natural1: #6B6B6B;
$success: #138079;
$yellow: #F2B309;
$red: #DE3135;
$blue: #2A5BD6;
$bg_v1: #F5F5F5;
$border_v1: #D4D4D4;
$border_v2: #EAEAEA;
$font_colorv1: #FAFAFA;
@font-face {
    font-family: 'Clash Display';
    src: url('../fonts/false.woff2') format('woff2'), url('../fonts/false.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff2') format('woff2'), url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2'), url('Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'slick';
    src: url('../fonts/slick.woff2') format('woff2'), url('../fonts/slick.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'), url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'), url('../fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title_v1,
.title,
.title1 {
    color: $natural;
    font-family: 'Clash Display';
    font-weight: 600;
    margin: 0;
}

h1 {
    font-size: 72px;
    letter-spacing: 0px;
    line-height: 80px;
}

h2 {
    font-size: 64px;
    letter-spacing: 0px;
    line-height: 72px;
}

h3 {
    font-size: 56px;
    letter-spacing: 0px;
    line-height: 64px;
}

h4 {
    font-size: 48px;
    letter-spacing: 0px;
    line-height: 56px;
}

h5 {
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 48px;
}

h6 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 32px;
}

.title_v1 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 40px;
}

.title {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 32px;
}

.title1 {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 24px;
}

.f20 {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
}

.f18 {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
}

.f16 {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
}

p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    margin: 0;
}

.f12 {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
}

.font__regular {
    font-weight: 400;
}

.font__midium {
    font-weight: 500;
}

.font__semibold {
    font-weight: 600;
}

.fs7 {
    font-family: 'Inter';
    font-weight: 700;
}

a {
    text-decoration: none;
    color: $natural;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.container {
    max-width: 1216px;
    padding: 0;
}

.row>* {
    padding-left: 16px;
    padding-right: 16px;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
}

body.fixed-position {
    overflow: hidden;
    .header__manubox {
        height: 100vh;
    }
    .about__bg {
        background-size: cover;
    }
}

a,
.btn:focus {
    outline: none;
    box-shadow: none;
}

.contact-bg {
    background-color: $font_colorv1;
    opacity: 100%;
    background-image: url('../images/contact/noise-layer.svg');
}

.header__wdp {
    .header__manubar {
        padding: 24px 0;
        .navbar-brand {
            margin: 0;
            padding: 0;
            color: $natural;
            font-family: "Clash Display";
            font-size: 28.131868px;
            font-weight: 600;
            letter-spacing: 0px;
        }
        .navbar-toggler {
            .navbar-toggler-icon.close {
                display: none;
            }
        }
    }
    .header__manubox {
        .header-social-mob {
            margin-top: 16px;
            ul {
                display: flex;
                gap: 24px;
            }
            .contact_links_ctm {
                position: absolute;
                bottom: 110px;
                z-index: -1;
                // .link_main {
                //     display: flex;
                //     gap: 12px;
                //     text-align: center;
                //     .btn {
                //         padding: 0;
                //     }
                // }
                .link_main {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    p {
                        font-family: "Clash Display";
                        color: $primary1;
                        font-size: 20px;
                        font-weight: 600;
                        padding: 0;
                    }
                    a.btn-iconic-blue {
                        padding: 0;
                        position: relative;
                        border: 0;
                    }
                }
            }
        }
        .manu__wdp {
            .nav-item {
                margin: 0 16px;
                .nav-link.active {
                    color: $natural;
                    font-weight: 700;
                }
                .nav-link {
                    padding: 8px 0;
                    color: $natural1;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0px;
                    line-height: 24px;
                }
                .nav-link:hover {
                    color: $natural;
                }
            }
            .nav-item:nth-child(1) {
                margin-left: 0;
            }
            .nav-item:last-child {
                margin-right: 0;
            }
        }
        .contact__btn {
            background-color: $primary1;
            padding: 12px 25px;
            margin-left: 32px;
            color: $bg_v1;
            border: 0;
            border-radius: 4px;
        }
        .modal {
            .modal-dialog {
                max-width: 100%;
                margin: 0;
            }
            .modal-content {
                background-image: url('../images/contact/noise-layer.svg');
                min-height: 100vh;
                height: auto;
                background-color: $font_colorv1;
                .modal-header {
                    border: 0;
                    padding: 32px 0 96px 0 !important;
                    .btn-close {
                        box-shadow: none;
                        border: 0;
                        outline: none;
                        height: unset;
                        width: unset;
                        background: unset;
                        opacity: 1;
                    }
                }
                input[type='file'] {
                    opacity: 0;
                    width: 100%;
                }
                .modal-body {
                    padding: 0;
                    label {
                        padding: 20px 0;
                        color: #12131A;
                        font-weight: 600;
                    }
                    h1 {
                        margin-bottom: 24px;
                    }
                    p {
                        margin-bottom: 68px;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .file-upload-block {
                        position: relative;
                        padding: 20px 0;
                        .attach {
                            position: absolute;
                            left: 0;
                            display: flex;
                            align-items: center;
                            top: 20px;
                            width: 100%;
                            .attach__button {
                                color: $primary1;
                                font-weight: 600;
                            }
                            img {
                                padding-right: 8px;
                            }
                        }
                    }
                    .input-group {
                        margin-bottom: 32px;
                        .form-control {
                            border-bottom: 1px solid $border_v1;
                            border-left: 0;
                            border-right: 0;
                            border-top: 0;
                            padding: 20px 0;
                            font-size: 18px;
                            color: $primary1;
                            border-radius: 0;
                            font-weight: 600;
                            line-height: 24px;
                            background-color: transparent;
                        }
                        .form-control:focus {
                            box-shadow: none;
                            outline: none;
                        }
                        .input-group-text {
                            background-color: transparent;
                            border-top: 0;
                            border-right: 0;
                            border-radius: 0;
                            padding: 20px 0;
                            border-left: 0;
                            img {
                                height: 24px;
                                width: 24px;
                            }
                        }
                    }
                    .btn-submit {
                        margin-top: 32px;
                        background-color: $primary1;
                        color: $bg_v1;
                        padding: 12px 24px;
                        margin-bottom: 96px;
                        font-weight: 600;
                        border: 0;
                        img {
                            padding-left: 53px;
                        }
                    }
                    .weekDays-selector {
                        margin-bottom: 32px;
                        .form-check {
                            padding: 0;
                        }
                        input {
                            display: none !important;
                        }
                        input[type=checkbox]+label {
                            display: inline-block;
                            border: 1.5px solid $border_v1;
                            opacity: 1;
                            margin-right: 16px;
                            border-radius: 100px;
                            text-align: center;
                            cursor: pointer;
                            padding: 8px 24px;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 1.5;
                            color: $natural1;
                            background-color: #fff;
                        }
                        input[type=checkbox]:checked+label {
                            background: $primary1;
                            color: #ffffff;
                        }
                        input[type=radio]+label {
                            display: inline-block;
                            border: 1.5px solid $border_v1;
                            opacity: 1;
                            margin-right: 16px;
                            border-radius: 100px;
                            text-align: center;
                            cursor: pointer;
                            padding: 8px 24px;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 1.5;
                            color: $natural1;
                            background-color: #fff;
                        }
                        input[type=radio]:checked+label {
                            background: $primary1;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .bs__innovations {
        padding: 140px 0 168px;
        // .innovation {}
        .innovation__contant {
            padding-top: 24px;
            p {
                padding-bottom: 40px;
            }
            .view__btn {
                background-color: $primary1;
                padding: 12px 24px;
                color: $bg_v1;
                border: 0;
                border-radius: 4px;
                .btn__arrow {
                    margin-left: 11px;
                }
            }
        }
    }
    .wdp__scroll__arrow {
        display: flex;
        align-items: center;
        padding-bottom: 32px;
        p {
            margin-left: 12px;
        }
    }
}

.home__bg {
    background: url(../images/blur-gradient.svg), url(../images/hero-Line.svg) no-repeat left bottom;
    background-size: 100%;
}

.digital__product {
    .wdp__buid__dusign {
        text-align: center;
        justify-content: center;
        padding: 136px 0 80px;
    }
    .wdp__innovate {
        .wdp__digital__list {
            justify-content: center;
            display: flex;
            column-gap: 48px;
            padding-bottom: 136px;
            .digital__box {
                max-width: 280px;
                .digital__picture {
                    img {
                        height: 180px;
                    }
                }
                .digital__content {
                    padding-top: 40px;
                    padding-right: 24px;
                    p {
                        padding-top: 16px;
                        max-width: 80%;
                    }
                }
            }
            .slick-dots {
                position: absolute;
                bottom: 0px;
                display: block;
                width: 100%;
                padding: 0;
                list-style: none;
                text-align: center;
                li {
                    position: relative;
                    display: inline-block;
                    width: 32px;
                    height: 8px;
                    margin: 0 4px;
                    padding: 0;
                    border-radius: 2px;
                    cursor: pointer;
                    background-color: $border_v1;
                    button {
                        display: none;
                    }
                }
                li.slick-active {
                    transition: all 0.5s;
                    content: "";
                    width: 64px;
                    height: 8px;
                    background-color: $natural;
                }
            }
        }
    }
}

.wdp__services {
    background-color: $bg_v1;
    padding: 136px 0;
    .service__header {
        padding-bottom: 48px;
        .services {
            p {
                padding-top: 24px;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
    .process__view {
        justify-content: space-between;
        .steps__services {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            column-gap: 80px;
            position: relative;
            border-bottom: 2px solid $border_v1;
            margin-bottom: 48px;
            .process__list {
                cursor: pointer;
                display: flex;
                max-width: 170px;
                position: relative;
                padding-bottom: 24px;
                position: relative;
                p:last-child {
                    margin-left: 8px;
                }
            }
            .process__list a.active::before {
                content: "";
                position: absolute;
                bottom: -2px;
                width: 100%;
                border-bottom: 2px solid #5438C5;
                max-width: 170px;
                left: 0;
            }
            .process__list p {
                color: $natural1;
            }
            .process__list.active p {
                color: $natural;
            }
            .process__list::before {
                content: "";
                width: 100%;
                position: absolute;
                left: 0%;
                bottom: -2px;
                border-bottom: 2px solid $primary1;
                transition: 0.5s transform ease;
                transform: scale3d(0, 0, 0);
            }
            .process__list.active::before {
                content: "";
                width: 100%;
                position: absolute;
                left: 0%;
                bottom: -2px;
                border-bottom: 2px solid #5438C5;
                transition: 0.5s transform ease;
                transform: scale3d(1, 1, 1);
            }
            .process__list:hover p {
                color: $natural;
                transition: all .2s ease-in;
            }
            .process__list:hover::before {
                transform: scale3d(1, 1, 1);
                color: #2A5BD6;
            }
            .process__list::after {
                content: "";
                position: absolute;
                right: -66px;
                top: 16px;
                background-image: url(../images/check_forward.svg);
                width: 24px;
                height: 24px;
            }
            .process__list:last-child::after {
                display: none;
            }
        }
    }
    .exp__ofproduct {
        justify-content: space-around;
        padding: 48px 0 80px;
        background-color: $secondary;
        .wdp__ser__slid {
            padding-right: 65px;
            // .expertice__list {}
            p:first-child {
                color: $natural;
                padding-bottom: 24px;
                min-height: 80px;
            }
            p:nth-child(2) {
                padding-bottom: 24px;
            }
            .expertice__item {
                padding: 4px 0;
                margin-left: 40px;
                position: relative;
            }
            .expertice__item:first-child {
                padding-top: 0;
            }
            .expertice__item:last-child {
                padding-bottom: 0;
            }
            .expertice__item::before {
                content: '';
                position: absolute;
                left: -40px;
                width: 24px;
                height: 24px;
                background-image: url(../images/bullet-icon-24.svg);
            }
        }
    }
}

.wdp__work {
    padding: 96px 0;
    .wdp__cl__work {
        .work__review {
            padding-bottom: 64px;
            p {
                padding-top: 16px;
            }
        }
        .work__review__box {
            max-width: 576px;
            img {
                border: 2px solid $bg_v1;
                border-radius: 8px;
            }
        }
        .g-l {
            margin-left: 16px;
        }
        .work__review__content {
            .sub__review__content {
                padding-top: 32px;
                p {
                    padding: 8px 0 32px;
                    // opacity: 0.4;
                    color: #8C8C8C;
                }
            }
        }
        .good__staff {
            margin-top: 64px;
            display: inline-block;
            .wdp__staff {
                text-decoration: none;
                p {
                    color: $primary1;
                    .arrow__45d {
                        margin-left: 16px;
                        fill: $primary1;
                    }
                }
            }
        }
    }
}

.sl__bg {
    background: url(../images/hero-bg.svg) no-repeat;
    background-size: cover;
    .amazing__title {
        padding: 136px 0 96px;
        .cs__zing {
            p {
                padding-bottom: 16px;
                color: $primary1;
                font-size: 16px;
                font-weight: 800;
                letter-spacing: 1.4px;
                line-height: 28px;
            }
        }
    }
    .amazing__review {
        padding-bottom: 184px;
        justify-content: center;
        .sl__zing {
            max-width: 1008px;
            margin: 0 auto;
            /*arrow left*/
            .slick-prev {
                width: 40px;
                height: 40px;
                left: -104px;
            }
            .slick-prev:before {
                content: '';
                background-image: url(../images/slider-left-arrow.svg);
                width: 40px;
                height: 40px;
                position: absolute;
                left: 0;
                top: 0;
            }
            /*slid*/
            .customer__say {
                border-radius: 4px;
                padding: 40px;
                max-width: 504px;
            }
            .first__customer {
                background-color: $secondary1;
                opacity: 1;
                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .second__customer {
                background-color: $natural;
                color: $border_v1;
                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            /*arrow right*/
            .slick-next {
                width: 40px;
                height: 40px;
                right: -104px;
            }
            .slick-next:before {
                content: '';
                background-image: url(../images/slider-right-arrow.svg);
                width: 40px;
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
            }
            /*line*/
            .slick-dots {
                position: absolute;
                bottom: -46px;
                display: block;
                width: 100%;
                padding: 0;
                list-style: none;
                text-align: center;
            }
            .slick-dots li {
                position: relative;
                display: inline-block;
                width: 32px;
                height: 8px;
                margin: 0 4px;
                padding: 0;
                border-radius: 2px;
                cursor: pointer;
                background-color: $border_v1;
            }
            .slick-dots li button {
                display: none;
            }
            .slick-dots li.slick-active {
                transition: all 0.5s;
                content: "";
                width: 64px;
                height: 8px;
                background-color: $natural;
            }
            .customer__say {
                .company__lg {
                    padding-bottom: 32px;
                    display: inline-block;
                    img {
                        width: 116px;
                        height: 48px;
                    }
                }
                .sl__user {
                    padding-top: 40px;
                    display: flex;
                    align-items: center;
                    .user__picture {
                        width: 48px;
                        height: 48px;
                    }
                    p {
                        margin-left: 16px;
                        span {
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

.footer__art {
    background-color: $bg_v1;
    .wdp__footer {
        justify-content: space-between;
        padding: 136px 0 96px;
        border-bottom: 1px solid $border_v1;
        // .art__people {}
        .atl__mail {
            padding-top: 64px;
            .art__info {
                text-decoration: underline;
                p {
                    color: $natural1;
                    padding-top: 16px;
                }
            }
        }
        .ftr__manu {
            p {
                padding: 16px 0;
            }
            .footer__manu__list {
                .ftr__list__item {
                    padding: 6px 0;
                    .sub_text {
                        color: $natural1;
                    }
                }
                .ftr__list__item:first-child {
                    padding-top: 0;
                }
                .ftr__list__item:last-child {
                    padding-bottom: 0;
                }
            }
        }
        .cteate__idea {
            h4 {
                padding-bottom: 64px;
            }
            .view__btn {
                background-color: $primary1;
                padding: 12px 24px;
                color: $bg_v1;
                border: 0;
                border-radius: 4px;
                .btn__arrow {
                    margin-left: 11px;
                }
            }
        }
    }
    .sub__footer {
        padding: 31px 0 32px;
        align-items: center;
        .co__sideleft {
            display: flex;
            align-items: center;
            .co__profile {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $natural;
                border-radius: 20px;
            }
            .co__info__pdf {
                display: block;
                margin-left: 16px;
            }
        }
        .co__side {
            text-align: center;
        }
        .co__sideright {
            .social__icon {
                display: flex;
                float: right;
                .social__list {
                    margin: 0 12px;
                }
                .social__list:first-child {
                    margin-left: 0;
                }
                .social__list:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}


/*work page*/

.work__side {
    .tab__dd {
        padding: 64px 0;
        .tab__list {
            display: flex;
            .tab__item {
                margin: 0 6px;
                .tb {
                    padding: 6.5px 24px;
                    background-color: $secondary;
                    border-radius: 100px;
                    border: 1.5px solid #D4D4D4;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0px;
                    line-height: 24px;
                    color: $natural1;
                }
                .tb.active {
                    background-color: $primary1;
                    color: $bg_v1;
                    border: 1.5px solid $primary1;
                }
                .tb:hover {
                    background-color: $primary1;
                    color: $bg_v1;
                    border: 1.5px solid $primary1;
                }
            }
            .tab__item:first-child {
                margin-left: 0;
            }
            .tab__item:last-child {
                margin-right: 0;
            }
        }
    }
}

.we__helps {
    .work__side {
        padding-top: 72px;
    }
    .wdp__cl__work {
        padding-bottom: 136px;
    }
    .client__work {
        max-width: 576px;
        .work__review__box {
            img {
                border: 2px solid $bg_v1;
                border-radius: 8px;
            }
            .work__review__content {
                padding-top: 32px;
                p {
                    padding: 8px 0 32px;
                    // opacity: 0.4;
                    color: #8C8C8C;
                }
            }
        }
    }
    .gy-top {
        margin-top: 96px;
        margin-left: 16px;
    }
}


/*about page*/

// .about__bg {
//     background-image: url(../images/blur-gradient.svg);
//     background-repeat: no-repeat;
// }
.art__header__ab {
    padding: 72px 0 136px;
    .ab__header__content {
        padding-right: 10px;
        padding-top: 30px;
        p {
            line-height: 32px;
        }
    }
    .ab__header__content.service_bnr_content {
        padding: 0;
        p {
            max-width: 55%;
        }
    }
}

.header__wdp .ab__place {
    max-width: 1340px;
    overflow: hidden;
    margin: 0 0 0 112px;
    .ab__place__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        column-gap: 40px;
        margin-left: 12px;
    }
    .picture__box:nth-child(1) img {
        width: 360px;
    }
    .picture__box:nth-child(2) img {
        width: 280px;
    }
    .picture__box:nth-child(3) img {
        width: 362px;
    }
    .picture__box:nth-child(4) img {
        width: 218px;
    }
}

.digital__agency {
    .agency__content {
        padding: 136px 0 96px;
        .digi__content {
            p {
                line-height: 32px;
            }
            p:first-child {
                padding-bottom: 32px;
            }
            p:nth-child(2) {
                padding-bottom: 32px;
            }
        }
    }
}

.count__team {
    .projeck__art {
        // column-gap: 64px;
        padding: 96px 0 136px;
        position: relative;
        .tech__partners {
            h1 {
                padding: 32px 0 14px;
            }
            p {
                line-height: 28px;
            }
            p:last-child {
                color: $natural;
            }
        }
    }
    .projeck__art::before {
        content: '';
        width: 84%;
        top: 0;
        left: 16px;
        position: absolute;
        border-top: 1px solid $border_v1;
    }
}

.testimonial__area {
    background-color: $bg_v1;
    background-image: url(../images/line-shape.svg);
    background-repeat: no-repeat;
    background-position: right top;
    padding: 136px 0;
    .testim__desc {
        h6 {
            font-size: 32px;
            line-height: 40px;
        }
    }
    .testim__author {
        display: flex;
        align-items: center;
        .testim__profile {
            width: 72px;
            border-radius: 100%;
        }
        .testim__name__block {
            margin-left: 16px;
            h6 {
                font-size: 20px;
                line-height: 24px;
            }
            p {
                font-weight: 500;
                font-size: 16px;
                padding-top: 4px;
            }
        }
    }
}

.team {
    padding: 136px 0;
    .team__headers {
        padding-bottom: 96px;
    }
    .team__box {
        .team__user__details {
            padding-top: 24px;
            p {
                padding-top: 4px;
            }
        }
    }
}

.join__team {
    padding-bottom: 136px;
    .team__border {
        padding-top: 48px;
        border-top: 1px solid $border_v1;
        .our__details {
            p {
                line-height: 28px;
            }
            a {
                padding-top: 24px;
                display: flex;
                align-items: center;
                color: $primary1;
                img {
                    margin-left: 12px;
                }
            }
        }
    }
}

.amazing__team {
    overflow-x: auto;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    column-gap: 32px;
}

// 03-10-22 added by vigna 
 ::-webkit-input-placeholder {
    /* Edge */
    color: #12131A !important;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #12131A !important;
}

 ::placeholder {
    color: #12131A !important;
}

.contact_banner_ctm {
    position: relative;
    padding: 72px 0 136px;
    h1 {
        margin-bottom: 24px;
    }
    p {
        font-size: 18px;
        line-height: 28px;
    }
}

.contact_links_area {
    position: relative;
    padding: 68px 0;
    .contact_links_ctm {
        h6 {
            margin-bottom: 12px;
        }
        .link_main {
            display: flex;
            // gap: 12px;
            align-items: center;
            p {
                font-family: "Clash Display";
                color: $primary1;
                font-size: 20px;
                font-weight: 600;
                padding: 0;
                a {
                    font-family: "Clash Display";
                    color: $primary1;
                    font-size: 20px;
                    font-weight: 600;
                    padding: 0;
                    text-decoration: underline;
                }
            }
            .btn-iconic-blue {
                padding: 0;
                position: relative;
                border: 0;
                img {
                    padding-left: 12px;
                }
            }
        }
        .link_main.copied {
            .btn-iconic-blue:before {
                content: 'Copied!';
                position: absolute;
                top: -50px;
                right: 0;
                background-color: $primary1;
                padding: 8px 12px;
                border-radius: 12px;
                font-size: 16px;
                color: $font_colorv1;
                display: none;
            }
            .btn-iconic-blue:after {
                content: '';
                position: absolute;
                top: -15px;
                right: 15px;
                width: 10px;
                height: 10px;
                background-color: $primary1;
                transform: rotate(45deg);
                display: none;
            }
        }
    }
}

.ofc_details_ctm {
    padding: 68px 0 136px;
    position: relative;
    .ofc_address_ctm {
        h3 {
            margin-bottom: 24px;
        }
        p {
            font-size: 18px;
            line-height: 28px;
            max-width: 80%;
            margin-bottom: 12px;
        }
        .btn-iconic-blue {
            padding: 0;
            img {
                padding-left: 12px;
            }
        }
    }
    .link_main {
        display: flex;
        align-items: center;
        a.btn {
            font-family: "Clash Display";
            color: #5438C5;
            font-size: 20px;
            font-weight: 600;
            padding: 0;
        }
    }
}

.row>* {
    padding: 0 16px;
}

// .row {
//     margin: 0 -16px;
// }
.faq_ctm {
    position: relative;
    padding: 136px 0;
    .section_title_ctm {
        margin-bottom: 64px;
    }
    .accordion-item {
        border: 0;
        position: relative;
        border-bottom: 1px solid $border_v1;
        max-width: 85%;
        padding: 40px 0 40px 0;
        .accordion-button:focus {
            outline: none;
            box-shadow: none;
        }
        .accordion-button::after {
            content: '';
            display: none;
        }
        .accordion-button::before {
            content: '';
            background-image: url('../images/contact/plus.svg');
            position: absolute;
            left: 0;
            // top: 20px;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
        }
        .accordion-button[aria-expanded="true"]::before {
            background-image: url('../images/contact/minus.svg');
            position: absolute;
            left: 0;
            // top: 20px;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
        }
        .accordion-button {
            background-color: transparent;
            padding: 0 0 0 48px;
            box-shadow: none;
            // margin-bottom: 14px;
            p {
                color: $natural;
                font-size: 20px;
                font-family: 'Inter';
                box-shadow: none;
                line-height: 32px;
                font-weight: 600;
            }
        }
        .accordion-body {
            padding: 0 0 0 47px;
            p {
                font-size: 18px;
                line-height: 28px;
                margin-top: 14px;
                color: $natural1;
            }
        }
    }
    .accordion-item:first-child {
        padding-top: 0;
    }
}

.about__bg {
    background-image: url('../images/blur-gradient.svg');
    background-repeat: no-repeat;
    // background-size: 100%;
    // width: 100%;
    // background-color: $font_colorv1;
    background-position: top left;
    .art__header__ab {
        padding: 72px 0 136px;
        .ab__header {
            h1 {
                margin-bottom: 24px;
            }
        }
        // .ab__header__content {
        //     p {
        //         max-width: 60%;
        //     }
        // }
    }
    .art__header__ab.service_bnr-area {
        padding: 72px 0 96px;
    }
    .service_banner_ctm {
        img {
            padding-left: 112px;
        }
    }
}

.our_work_ctm {
    position: relative;
    padding: 64px 0 68px 0;
    .btn-work-ctm {
        padding: 0;
        border: 0;
        height: 52px;
        opacity: 1;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0px;
        line-height: 24px;
        color: $natural1;
        .work_arrow_right {
            padding-right: 16px !important;
        }
    }
    .btn-work-ctm:focus {
        outline: none;
        box-shadow: none;
    }
}

.services_boxes_ctm {
    padding: 68px 0;
    .box_bg_ctm {
        background-color: $font_colorv1;
        position: relative;
        z-index: -1;
        border-radius: 10px;
    }
    .section_title_ctm {
        h2 {
            margin-bottom: 80px;
        }
    }
    .service_box_top {
        position: relative;
        padding: 80px 0 24px 0;
        span {
            color: $primary1;
            font-weight: 600;
            position: relative;
            z-index: -1;
            // margin-bottom: 8px;
        }
        .span_mb {
            margin-bottom: 8px;
        }
        span::after {
            content: "";
            position: absolute;
            width: 8px;
            height: 3px;
            top: 11px;
            bottom: inherit;
            right: -10px;
            left: inherit;
            z-index: 1;
            background-color: $primary1;
        }
        h6 {
            font-size: 32px;
            margin-bottom: 16px;
            margin-top: 8px;
            line-height: 36px;
        }
    }
    .service_box_middle {
        padding: 24px 0 24px 0;
        h6 {
            margin-bottom: 25px;
            line-height: 24px;
        }
        ul {
            margin-left: 48px;
            font-weight: 500;
            line-height: 24px;
            li {
                position: relative;
                z-index: -2;
                padding-left: 16px;
            }
            li::before {
                content: "";
                position: absolute;
                width: 15px;
                height: 2px;
                left: -20px;
                right: inherit;
                top: 10px;
                bottom: inherit;
                background-color: $natural1;
                z-index: 2;
            }
        }
    }
    .service_box_bottom {
        h6 {
            margin-bottom: 24px;
        }
        padding: 24px 0 101px 0;
        .service_ui_ux {
            display: flex;
            gap: 32px;
            ul.bottom_ux,
            ul.bottom_ui {
                li {
                    position: relative;
                    margin-left: 40px;
                    margin-bottom: 8px;
                }
                li::before {
                    content: '';
                    background-image: url('../images/service/bullet-icon-24@3x.svg');
                    position: absolute;
                    z-index: 99999;
                    height: 24px;
                    width: 24px;
                    left: -40px;
                    top: 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
    .service_media {
        padding: 104px 0 0 0;
        .media {
            display: flex;
            margin-bottom: 48px;
            justify-content: space-between;
            h6 {
                margin-bottom: 8px;
                font-family: "Inter";
            }
            p {
                max-width: 89%;
            }
            .img-block {
                height: 64px;
                width: 64px;
                padding: 16px;
                margin-left: 32px;
                opacity: 1;
                border-radius: 4px;
                img {
                    height: 32px;
                    width: 32px;
                }
            }
            .img-block.top {
                background-color: $primary5;
            }
            .img-block.middle {
                background-color: #B6DFEC;
            }
            .img-block.bottom {
                background-color: $secondary3;
            }
            .img-block.last {
                background-color: #FBE19B;
            }
        }
        .media:last-child {
            margin-bottom: 0;
        }
    }
}

.benifit_working_ctm {
    padding: 136px 0;
    position: relative;
    background-color: $bg_v1;
    .section_title_ctm {
        h2 {
            margin-bottom: 80px;
        }
    }
    .card {
        height: 100%;
        border: 0;
        background-color: transparent;
        padding: 40px 32px;
        .card-title {
            margin-bottom: 16px;
        }
        img {
            width: 40px;
            height: 40px;
            margin-bottom: 32px;
        }
        .card-body {
            padding: 0;
            p.card-text {
                opacity: 1;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}